{%  extends 'Base.html' %}
{% block content %}


                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add Party Form</h4>
                                <div class="basic-form">
                                    <form method="post" action="{% url 'AddParty' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% include 'partial/_message.html' %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Party Name</label>
                                                <input type="text" name="PartyName" class="form-control" placeholder="Party">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Party Acronym</label>
                                                <input type="text" name="PartyAcronym" class="form-control" placeholder="PDP">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label>Email</label>
                                                <input type="email" name="Email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Password</label>
                                                <input type="password" class="form-control" name="Password" placeholder="Password">
                                            </div>   <div class="form-group col-md-4">
                                                <label>logo</label>
                                                <input type="file" class="form-control" name="Logo">
                                            </div>
                                        </div>


                                        <button type="submit" class="btn btn-block  btn-primary">Sign in</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

{% endblock %}